<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/echarts.min.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/carStatus.json"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/getData.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/createTravelPath.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/createCarStatus.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/kardi_cloud_line.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/kardi_cloud_bar.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/kardi_cloud_map.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/kardi_cloud_travel_data.js"></script>
		<script src="/Users/fan/anaconda/bin/Django/ab101GroupProject/indexHome/static/js/kardi_cloud_travel_map.js"></script>
		<title>Create Div</title>
	</head>
	<body>
	<div class="subcontent" style="position: relative;background: #fff;top:15%;left:20%;width: 75%;height: 80%;margin:0px;padding:0px;"></div>
	<style type="text/css">
/*		html, body{
		    margin: 0px;
		    padding: 0px;
		    min-width: 100%;
		    width: 100%;
		    max-width: 100%;
		    min-height: 100%;
		    height: 100%;
		    max-height: 100%;
		}*/
	</style>
	<script type="text/javascript">
		// createCarStatus('.subcontent');
		// createTravelPath('.subcontent');
		// drawLine('class','subcontent',extractData(fuelLine)['date'],'平均油耗','km/L', extractData(fuelLine)['d1']);
		// drawLine('class','subcontent',extractData(mileageLine)['date'],'里程數','km', extractData(mileageLine)['d1']);
		// drawLine('class','subcontent',extractData(speedLine)['date'],'平均時速','km/h', extractData(speedLine)['d1']);
		// drawLine('class','subcontent',extractData(rpmLine)['date'],'最高轉速','rpm', extractData(rpmLine)['d1'], extractData(rpmLine)['d2']);
	</script>
	</body>
</html>