<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodie Broker - 食客推薦系統 - 首頁</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="11" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Foodie Broker  -  食客推薦系統</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Process">Process</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Clusting">Clusting</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>找不到合適的部落客</h1>
                <h1>為您的餐廳廣告而苦惱嗎？</h1>
                <br>
                <br>
                <hr>
                <p>使用我們的部落客推薦系統，找到最適合貴餐廳的部落客！</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" >
        <div class="container" id="about">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">我們滿足您對部落客了解的渴望</h2>
                    <hr class="light">
                    <p class="text-faded">別人沒有的部落客分析，我們讓您一目了然，將資料探勘的結果，以視覺化的方式，讓您從茫茫人海中，找到CP值最高的部落客 </p>
                    <a href="#Process" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="Process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">使用流程簡介</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Choose</h3>
                        <p class="text-muted">選擇最符合餐廳形象的分類</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Sort and Recommend</h3>
                        <p class="text-muted">自由選擇各種排序條件，依您的選擇推薦最適合您的部落客。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Sentiment Analysis</h3>
                        <p class="text-muted">將部落客食記的內容，經由Jieba斷詞，搭配自建情緒詞字典，完成情緒分析。 </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Analysis</h3>
                        <p class="text-muted">提供文字探勘、社群網絡分析、資料分群...資料探勘，以視覺化的方式呈現，協助您了解部落客特性。</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container text-center" >
            <br>
            <br>
            <a href="#Clusting" class="btn btn-primary btn-xl page-scroll" >Next</a>
        </div>
    </section>
    <section class="no-padding" id="Clusting">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/chophouse/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/chophouse.jpg" class="img-responsive" alt="" >
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Chophouse
                                </div>
                                <div class="project-name">
                                    牛排館/鐵板燒
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/hotpot/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/hotpot.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotpot
                                </div>
                                <div class="project-name">
                                    火鍋類
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/japanese_food/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/japanese_food.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Japanese food
                                </div>
                                <div class="project-name">
                                    日式料理
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/mutton_beef_hotpot/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/mutton_beef_hotpot.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mutton Beef Hotpot
                                </div>
                                <div class="project-name">
                                    羊肉爐/牛肉湯
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/brunch/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/brunch.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Brunch
                                </div>
                                <div class="project-name">
                                    美式餐廳/早午餐
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/windFireTire/dessert_ice_drink_bakery/" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/dessert_ice_drink_bakery.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Dessert
                                </div>
                                <div class="project-name">
                                    甜點/冰品/飲料/烘培
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center">
        <select style="width:180px" onchange="window.open(this.options[this.selectedIndex].value,'_self')">
            <optgroup selected="true" label="請選擇"> 
             <option>其他餐廳類別</option>
             <option value="/windFireTire/roast_chicken/">烤雞/烤鴨</option>
             <option value="/windFireTire/barbecue/">串燒/碳烤/居酒屋/燒烤</option>
             <option value="/windFireTire/seafood/">海產/熱炒餐廳</option>
             <option value="/windFireTire/brunch/">美式餐廳/早午餐</option>
             <option value="/windFireTire/banquet/">合菜</option>
             <option value="/windFireTire/bar/">酒吧/餐酒館</option>
             <option value="/windFireTire/japanese_food/">日式料理</option>
             <option value="/windFireTire/continental_food/">義式/歐風/異國</option>
             <option value="/windFireTire/southeast_asia_food/">東南亞料理</option>
             <option value="/windFireTire/mutton_beef_hotpot/">羊肉爐/牛肉湯</option>
             <option value="/windFireTire/chophouse/">牛排館/鐵板燒</option>
             <option value="/windFireTire/korea_food/">韓式料理</option>
             <option value="/windFireTire/vegetable_food/">素食/蔬食</option>
             <option value="/windFireTire/hongKong_food/">港式餐廳</option>
             <option value="/windFireTire/dessert_ice_drink_bakery/">甜點/冰品/飲料/烘培</option>
             <option value="/windFireTire/themed_restaurant/">主題/景觀餐廳</option>
             <option value="/windFireTire/taiwanese_Food/">台式/中式/小吃</option>
             <option value="/windFireTire/buffet/">自助餐</option>
             <option value="/windFireTire/hotpot/">火鍋類</option>
             <option value="/windFireTire/light_meal_afternoon_tea/">咖啡/輕食/下午茶</option>
        </select>
    </div>
    <aside class="bg-dark">
        <div class="container text-center">
            <br>
            <br>
            <a href="/userInfomation/network" class="btn btn-primary btn-xl page-scroll" >Social Network</a>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">關於我們</h2>
                    <hr class="primary">
                    <p>部落客推薦系統製作團隊：范君維、郭維軒、嚴旭生、益西曲珍、戴季宏、陳立倫</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>09-5168-5168</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="ab101group4@gmail.tw">ab101group4@gmail.tw</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/scrollreveal.min.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <!-- index首頁連結Page rank，相簿效果。 -->
    <!-- <script src="../static/js/jquery.magnific-popup.min.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/creative.js"></script>

</body>

</html>
